@font-face {
    font-family: "Inter-Black";
    src: url("../fonts/Inter/Inter-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Inter-Extrabold";
    src: url("../fonts/Inter/Inter-Extrabold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Inter-SemiBold";
    src: url("../fonts/Inter/Inter-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Inter-Medium";
    src: url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Inter-Regular";
    src: url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Inter-Light";
    src: url("../fonts/Inter/Inter-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}